<p-toast></p-toast>
<div class="container">
    
    <div class="p-card">
        <div class="py-3 md:px-3 bg-green-200 text-white text-4xl">Pessoas</div>
        <div class="p-fluid col-12">
            <div class="field grid pt-3" [style]="{'margin-left':'2px'}">
                <span class="p-float-label">
                    <input id="float-input" type="text" pInputText class="inputfield" pTooltip="Informa o nome" tooltipPosition="top">
                    <label for="float-input">Nome</label>
                </span>
            </div>

            <div class="field grid col-2">
                <button pButton pRipple icon="pi pi-search" class="p-button-info" type="button" label="Pesquisar" [loading]="ativaLoadingButtonSearch"
                pTooltip="Pesquisar" tooltipPosition="top"> </button>
            </div>
        </div>
              
        <div class="p-fluid col-12" >
            <p-table [value]="persons" [paginator]="true" [rows]="5" [globalFilterFields]="['name', 'distric', 'state','active', 'amount']" 
                [showCurrentPageReport]="true" responsiveLayout="stack" currentPageReportTemplate="Lançamentos de {first} até {last} de {totalRecords} registros" 
                [rowsPerPageOptions]="[5,10,15]" styleClass="p-datatable-sm" >
                <ng-template pTemplate="header">
                    <tr>
                        <th>Nome</th>
                        <th>Cidade</th>
                        <th>Estado</th>
                        <th>Status</th>
                        <th>Ações</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-p>
                    <tr>
                        <td><span class="p-column-title">Nome</span>{{p.name}}</td>
                        <td><span class="p-column-title">Cidade</span>{{p.district}}</td>
                        <td><span class="p-column-title">Estado</span>{{p.state}}</td>

                        <td><span class="p-column-title">Status</span>
                            <span [class]="'active-badge status-' + (p.active)">
                                {{p.active ? 'ATIVO' : 'INATIVO'}}
                            </span>
                        </td>
                        <td>
                            <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-info mr-2" (click)="editPerson(p)"
                            pTooltip="Editar" tooltipPosition="top"></button>

                            <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger" (click)="deletePerson(p)"
                            pTooltip="Deletar" tooltipPosition="top"></button>
                        </td>

                    </tr>
                </ng-template>

                <ng-template pTemplate="paginatorleft">
                    <button pButton pRipple icon="pi pi-wallet" class="p-button-info" type="button" label="Novo Lançamento" [loading]="ativaLoadingButtonSearch"
                    pTooltip="Cadastrar novo lançamento" tooltipPosition="top"></button>
                </ng-template>

            </p-table>
        </div>
    </div>

    <p-dialog [(visible)]="personDialog" [style]="{width: '550px'}" header="Atualização do Lançamento" [modal]="true" styleClass="p-fluid">
        <ng-template pTemplate="content">

            <div class="formgrid grid">
                <div class="field col">
                    <label for="name">Nome</label>
                <input type="text" pInputText id="name" [(ngModel)]="person.name" required autofocus /> 
                <small class="invalid" *ngIf="submitted && !person.name">Nome é obrigatório.</small>
                </div>
                <div class="field col">
                    <label for="amount">Valor</label>
                    <p-inputNumber id="amount" [(ngModel)]="person" mode="currency" currency="BRL" locale="pt-BR" ></p-inputNumber> 
                </div>
            </div>
            
            <div class="formgrid grid">
                <div class="field col">
                    <label for="due_date">Vencimento</label>
                    <p-calendar id="due_date" [(ngModel)]="person"> </p-calendar>
                </div>
                <div class="field col">
                    <label for="payment_date">Pagamento</label>
                    <p-calendar id="payment_date" [(ngModel)]="person"></p-calendar>
                </div>
            </div>



        </ng-template>
        
        <ng-template pTemplate="footer">
            <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
            <button pButton pRipple label="Salvar" icon="pi pi-check" class="p-button-text" (click)="savePerson()"></button>
        </ng-template>
    </p-dialog>

</div>
<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>