<p-toast></p-toast>
<div class="container">
    
    <div class="p-card">
        <div class="py-3 md:px-3 bg-green-200 text-white text-4xl">Pessoas</div>
        <div class="p-fluid col-12">
            <div class="field grid col-2">
                <button pButton pRipple icon="pi pi-search" class="p-button-info" type="button" label="Pesquisar" [loading]="ativaLoadingButtonSearch"
                pTooltip="Pesquisar" tooltipPosition="top"> </button>
            </div>
        </div>
              
        <div class="p-fluid col-12" >
            <p-table [value]="pessoas" [paginator]="true" [rows]="5" [globalFilterFields]="['name', 'description', 'due_date','payment_date', 'amount', 'transaction_type']" 
                [showCurrentPageReport]="true" responsiveLayout="stack" currentPageReportTemplate="Lançamentos de {first} até {last} de {totalRecords} registros" 
                [rowsPerPageOptions]="[5,10,15]" styleClass="p-datatable-sm" >
                <ng-template pTemplate="header">
                    <tr>
                        <th>Nome</th>
                        <th>Cidade</th>
                        <th>Estado</th>
                        <th>Status</th>
                        <th>Ações</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-l>
                    <tr>
                        <td><span class="p-column-title">Nome</span>{{l.name}}</td>
                        <td><span class="p-column-title">Cidade</span>{{l.description}}</td>
                        <td><span class="p-column-title">Estado</span>{{l.due_date}}</td>
                        <td><span class="p-column-title">Status</span>{{l.payment_date}}</td>

                        <td><span class="p-column-title">Tipo</span>
                            <span [class]="'transaction-type-badge status-' + (l.transaction_type ? l.transaction_type.toLowerCase() : '')">
                                {{l.transaction_type}}
                            </span>
                        </td>
                        <td>
                            <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-info mr-2" (click)="editPerson(l)"
                            pTooltip="Editar" tooltipPosition="top"></button>

                            <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger" (click)="deletePerson(l)"
                            pTooltip="Deletar" tooltipPosition="top"></button>
                        </td>

                    </tr>
                </ng-template>

                <ng-template pTemplate="paginatorleft">
                    <button pButton pRipple icon="pi pi-wallet" class="p-button-info" type="button" label="Novo Lançamento" [loading]="ativaLoadingButtonSearch"
                    pTooltip="Cadastrar novo lançamento" tooltipPosition="top"></button>
                </ng-template>

            </p-table>
        </div>
    </div>

    <p-dialog [(visible)]="lancamentoDialog" [style]="{width: '550px'}" header="Atualização do Lançamento" [modal]="true" styleClass="p-fluid">
        <ng-template pTemplate="content">

            <div class="formgrid grid">
                <div class="field col">
                    <label for="name">Nome</label>
                <input type="text" pInputText id="name" [(ngModel)]="lancamento.name" required autofocus /> 
                <small class="invalid" *ngIf="submitted && !lancamento.name">Nome é obrigatório.</small>
                </div>
                <div class="field col">
                    <label for="amount">Valor</label>
                    <p-inputNumber id="amount" [(ngModel)]="lancamento.amount" mode="currency" currency="BRL" locale="pt-BR" ></p-inputNumber> 
                </div>
            </div>

            <div class="field">
                <label for="description">Descrição</label>
                <textarea id="description" pInputTextarea [(ngModel)]="lancamento.description" required rows="3" cols="20" [autoResize]="true"></textarea>
            </div>

            <div class="field">
                <label for="transaction_type">Tipo</label>
                    <p-dropdown [(ngModel)]="lancamento.transaction_type" inputId="transaction_type" [options]="tipoLancamento" placeholder="Selecione">
                        <ng-template let-option pTemplate="item">
                            <span [class]="'transaction-type-badge status-' + option.value">{{option.label}}</span>
                        </ng-template>
                    </p-dropdown>
             </div>
            
            <div class="formgrid grid">
                <div class="field col">
                    <label for="due_date">Vencimento</label>
                    <p-calendar id="due_date" [(ngModel)]="lancamento.due_date"> </p-calendar>
                </div>
                <div class="field col">
                    <label for="payment_date">Pagamento</label>
                    <p-calendar id="payment_date" [(ngModel)]="lancamento.payment_date"></p-calendar>
                </div>
            </div>



        </ng-template>
        
        <ng-template pTemplate="footer">
            <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
            <button pButton pRipple label="Salvar" icon="pi pi-check" class="p-button-text" (click)="saveLancamento()"></button>
        </ng-template>
    </p-dialog>

</div>
<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>