<div class="container">
    
    <div class="p-card">
        <div class="py-3 md:px-3 bg-blue-200 text-white text-4xl">Lançamentos</div>
        <div class="p-fluid col-12">
            <div class="field grid pt-3">
                <span class="p-float-label col-12">
                    <input type="text" id="inputtext" pInputText class="inputfield"> 
                    <label> <strong> Descrição </strong> </label>
                </span>     
            </div>  
            <div class="field grid pt-3">
                <span class="p-float-label col-3">
                    <input type="text" pInputText class="inputfield"> 
                    <label> <strong> Vencimento </strong> </label>
                </span>

                <span class="p-float-label col-3">
                    <input type="text" pInputText class="inputfield"> 
                    <label> <strong> Até </strong> </label>
                </span> 
            </div>
            <div class="field grid col-2">
                <button pButton type="submit" label="Pesquisar" ></button>
            </div>
        </div>
              
    <div class="p-fluid col-12">
        <p-table [value]="lancamentos" [paginator]="true" [rows]="10" [showCurrentPageReport]="true" responsiveLayout="scroll"
        currentPageReportTemplate="Lançamentos de {first} até {last} de {totalRecords} registros" [rowsPerPageOptions]="[10,25,50]">
        <ng-template pTemplate="header">
            <tr>
                <th>Tipo</th>
                <th>Descrição</th>
                <th>Data de Vencimento</th>
                <th>Data de Pagamento</th>
                <th>Valor</th>
                <th>Nome</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-f>
            <tr>
                <td>{{f.transaction_type}}</td>
                <td>{{f.description}}</td>
                <td>{{f.due_date}}</td>
                <td>{{f.payment_date}}</td>
                <td>{{f.amount}}</td>
                <td>{{f.name}}</td>

            </tr>
        </ng-template>
    </p-table>

    </div>

</div>