<p-toast></p-toast>
<div class="container">
    
    <div class="p-card">
        <div class="py-3 md:px-3 bg-green-200 text-white text-4xl">Lançamentos</div>
        <div class="p-fluid col-12">
            <div class="field grid pt-3">
                <span class="p-float-label col-12">
                    <input type="text" id="inputtext" pInputText class="inputfield"> 
                    <label> <strong> Descrição </strong> </label>
                </span>     
            </div>  
            <div class="field grid pt-3">
                <span class="p-float-label col-3">
                    <input type="text" pInputText class="inputfield"> 
                    <label> <strong> Vencimento </strong> </label>
                </span>

                <span class="p-float-label col-3">
                    <input type="text" pInputText class="inputfield"> 
                    <label> <strong> Até </strong> </label>
                </span> 
            </div>
            <div class="field grid col-2">
                <button pButton pRipple icon="pi pi-search" class="p-button-info" type="button" label="Pesquisar" [loading]="ativaLoadingButtonSearch"></button>
            </div>
        </div>
              
        <div class="p-fluid col-12" >
            <p-table [value]="lancamentos" [paginator]="true" [rows]="5" [globalFilterFields]="['name', 'description', 'due_date','payment_date', 'amount', 'transaction_type']" 
                [showCurrentPageReport]="true" responsiveLayout="scroll" currentPageReportTemplate="Lançamentos de {first} até {last} de {totalRecords} registros" 
                [rowsPerPageOptions]="[5,10,15]" styleClass="p-datatable-sm">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Pessoa</th>
                        <th>Descrição</th>
                        <th>Vencimento</th>
                        <th>Pagamento</th>
                        <th>Valor</th>
                        <th>Tipo</th>
                        <th>Ações</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-l>
                    <tr>
                        <td>{{l.name}}</td>
                        <td>{{l.description}}</td>
                        <td>{{l.due_date}}</td>
                        <td>{{l.payment_date}}</td>
                        <td>{{l.amount | currency:'BRL'}}</td>
                        <td>
                            <span [class]="'transaction-type-badge status-' + (l.transaction_type ? l.transaction_type.toLowerCase() : '')">
                                {{l.transaction_type}}
                            </span>
                        </td>
                        <td>
                            <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-info mr-2" (click)="editLancamento(l)"></button>
                            <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger" (click)="deleteLancamento(l)"></button>
                        </td>

                    </tr>
                </ng-template>

                <ng-template pTemplate="paginatorleft">
                    <button pButton pRipple icon="pi pi-wallet" class="p-button-info" type="button" label="Novo Lançamento" [loading]="ativaLoadingButtonSearch"></button>
                </ng-template>

            </p-table>
        </div>
    </div>

    <p-dialog [(visible)]="lancamentoDialog" [style]="{width: '550px'}" header="Atualização do Lançamento" [modal]="true" styleClass="p-fluid">
        <ng-template pTemplate="content">

            <div class="formgrid grid">
                <div class="field col">
                    <label for="name">Nome</label>
                <input type="text" pInputText id="name" [(ngModel)]="lancamento.name" required autofocus /> 
                <small class="invalid" *ngIf="submitted && !lancamento.name">Nome é obrigatório.</small>
                </div>
                <div class="field col">
                    <label for="amount">Valor</label>
                    <p-inputNumber id="amount" [(ngModel)]="lancamento.amount" mode="currency" currency="BRL" locale="pt-BR" ></p-inputNumber> 
                </div>
            </div>

            <div class="field">
                <label for="description">Descrição</label>
                <textarea id="description" pInputTextarea [(ngModel)]="lancamento.description" required rows="3" cols="20" [autoResize]="true"></textarea>
            </div>

            <div class="field">
                <label for="transaction_type">Tipo</label>
                    <p-dropdown [(ngModel)]="lancamento.transaction_type" inputId="transaction_type" [options]="tipoLancamento" placeholder="Selecione">
                        <ng-template let-option pTemplate="item">
                            <span [class]="'transaction-type-badge status-' + option.value">{{option.label}}</span>
                        </ng-template>
                    </p-dropdown>
             </div>
            
            <div class="formgrid grid">
                <div class="field col">
                    <label for="due_date">Vencimento</label>
                    <input type="text" pInputText id="due_date" [(ngModel)]="lancamento.due_date" required autofocus /> 
                </div>
                <div class="field col">
                    <label for="payment_date">Pagamento</label>
                <input type="text" pInputText id="payment_date" [(ngModel)]="lancamento.payment_date" required autofocus /> 
                </div>
            </div>



        </ng-template>
        
        <ng-template pTemplate="footer">
            <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
            <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveLancamento()"></button>
        </ng-template>
    </p-dialog>

</div>
<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>