<h1>Lançamentos</h1>
<div class="p-fluid">
    
    <div class="field grid pt-3">
        <span class="p-float-label col-6">
            <input type="text" id="inputtext" pInputText class="inputfield"> 
            <label> <strong> Descrição </strong> </label>
        </span>     
    </div>
            
    <div class="field grid pt-3">
        <span class="p-float-label col-3">
            <input type="text" pInputText class="inputfield"> 
            <label> <strong> Vencimento </strong> </label>
        </span>

        <span class="p-float-label col-3">
            <input type="text" pInputText class="inputfield"> 
            <label> <strong> Até </strong> </label>
        </span> 
    </div>

    <div class="field grid col-2">
        <button pButton type="submit" label="Pesquisar" ></button>
    </div>

</div>